<div ng-include="'pages/common/nav.html'"></div>

<h2>Complaints</h2>
<br>

<div class="row">
  <div class="col-md-12" style="font-size:20px" ng-repeat="x in complaints">
    <div class="well topic" data-toggle="collapse" data-target="#{{$index}}">{{x.category | uppercase}}</div>
    <div id="{{$index}}" class="well collapse">
    <b style="font-weight:bold">Sender</b>: {{x.sender.username}} <br>
    <b style="font-weight:bold">Receiver</b>: {{x.receiver.username}} <br>
    <b style="font-weight:bold">Status</b>: {{x.status}} <br>
    <b style="font-weight:bold">Message</b>: <br> {{x.msg}} <br>
    <!-- <b style="font-weight:bold">Sender</b>: {{x.sender.username}} <br> -->
    <button type="button" class="btn btn-success" ng-click="change_status(x.category)">Mark as seen</button>
    <button type="button" class="btn btn-primary" ng-click="start_chat(x.sender.username,x.receiver.username)">Send Message</button>

    </div>
  </div>
</div>
